<div class="home-insurance-section">
  <div class="home-insurance-wrapper">
    <div class="home-insurance-content">
      <div class="home-insurance-title">
        {{ fields.field_insurace_title.content }}
      </div>
      <div class="home-insurance-description">
        {{ fields.body.content }}
      </div>
      <div class="home-insurance-link">
        <a class="button button-small button-yellow" href="javascript:void(0)">Read More</a>
      </div>
    </div>
    <div class="home-insurance-image-wrapper">
      <div class="background-image">
        {{ fields.field_background_image.content }}
      </div>
      <div class="preview-image-wrapper">
        <div class="preview-image">
          {{ fields.field_insurance_image.content }}
          <p>{{ fields.field_bottom_text.content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
